<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/OnAuction.ico" type="image/vnd.microsoft.icon">
    <title>Помилка</title>
</head>
<body>
    <hgroup>
        <h1>Помилка.</h1>
        <h2>При обробці запиту на сервері "OnAuction" виникла помилка.</h2>
    </hgroup>
</body>
</html>
